
<div class="container">
  <div class="row">
    <div left-container>
      <img
        src="https://douzebook-production.web.app/assets/imgs/login-left.png"
        alt="img"
      />
    </div>
  </div>
  <div class="row-right">
    <div>
      <img
        src="https://douzebook-production.web.app/assets/imgs/douzetech-logo-new.svg"
        alt="img2"
      />
    </div>
    <h3 class="input">User Login</h3>
    <div class="email">
      <input class="input1" type="email" placeholder="Enter Email" />
    </div>
    <div class="email">
      <input class="input1" type="password" placeholder="Enter Password" />
    </div>
    <div>
      <button type="button" class="btn-primary" routerLink="/signup">
        Sign Up
      </button>
      <button type="button" class="btn-primary">
        Login
      </button>
    </div>
  </div>
</div>
